.education {
    display: none;
    margin: 100px 0;
    position: relative;
    z-index: 10;

    &__header {
        margin-bottom: 25px;
        font-size: 26px;
        color: white;
    }

    &__title {
        margin-bottom: 10px;
        color: #344742;
    }

    &__list {
        margin: 0 0 10px 30px;
    }

    &__list-item {
        color: #344742;
    }

    &__picture {
        width: 100%;
        height: auto;
        margin: 0 0 10px 0;
    }

    &__text {
        color: #344742;
        margin-bottom: 10px;
    }
}