@font-face {
	font-family: 'andika';
	font-display: swap;
	src: url("../fonts/andika-v22-cyrillic-700.woff2")format("woff2"),
	url("../fonts/andika-v22-cyrillic-700.woff")format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'andika';
	font-display: swap;
	src: url("../fonts/andika-v22-cyrillic-regular.woff2")format("woff2"),
	url("../fonts/andika-v22-cyrillic-regular.woff")format("woff");
	font-weight: 400;
	font-style: normal;
}
