.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    padding-bottom: 50px;
    z-index: 100;
    background-color: white;

    &__close {
        position: fixed;
        top: 5px;
        left: calc(50% - 175px);
        width: 24px;
        height: 24px;
        background-image: url('../img/svgicons/close.svg');
        background-size: contain;
        background-color: transparent;
        border: none;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__workout-name,
    &__workout-name_blue {
        text-align: center;
        margin-bottom: 10px;
        background-color: rgb(85,199,115);
    }

    &__workout-name_blue {
        background-color: #4ee1ff;
    }

    &__difficult {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &__difficult-info {
        text-align: center;
    }

    &__difficult-select {
        height: 30px;
        width: 100%;
        border-radius: 10px;
        border: none;
    }

    &__difficult-select_active {
        background-color: rgb(85,199,115);
    }

    &__difficult-select_active-blue {
        background-color: #4ee1ff;
    }

    &__difficult-select:not(:last-child) {
        margin-right: 2px;
    }

    &__info-block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding-top: 24px;
    }

    &__info {
        min-width: 90px;
        height: 50px;
        position: relative;
        text-align: center;
    }

    &__value {
        color: black;
    }

    &__pause-btn {
        position: absolute;
        top: 0;
        border: none;
        background-color: transparent;
        font-size: 30px;
        text-align: center;
    }

    &__pause-plus {
        right: 0;
    }

    &__pause-minus {
        left: 0;
    }

    &__start {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        border: none;
        font-size: 18px;
        font-weight: bold;
        background-color: rgb(85,199,115);
        color: #344742;
    }

    &__start_blue {
        background-color: #4ee1ff;
    }

    &__exercise {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        text-align: center;
    }

    &__exercise h4 {
        font-size: 25px;
    }

    &__timer {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
        left: 0;
        right: 0;
        height: 150px;
        background-color: #e2e2e2;
    }

    &__timer-value {
        position: relative;
        z-index: 12;
        font-size: 30px;
        font-weight: bold;
        z-index: 12;
    }

    &__progress-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 0;
        height: 150px;
        z-index: 11;
    }

    &__next-exercise {
        position: relative;
        font-weight: bold;
        font-size: 18px;
        margin-top: 70px;
        text-align: center;
    }

    &__next-exercise::before {
        content: 'Следующее упражнение:';
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        font-weight: 400;
    }

    &__countdown {
        animation: countdown 1s ease-in-out infinite
    }

    @keyframes countdown {
        0% {transform: scale(1);}
        100% {transform: scale(1.4);}
    }

    &__pause-timer {
        position: absolute;
        top: -20px;
        right: 10%;
        transform: translateX(-50%);
        width: 40px;
        height: 40px;
        background-color: #adadad;
        background-image: url('../img/svgicons/pause.svg');
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        border-radius: 50%;
        z-index: 15;
    }
    &__pause-timer_on-pause {
        background-image: url('../img/svgicons/play.svg');
    }

    &__programm-all-day {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-align: center;
        margin-top: 40px;
    }

    &__programm-all-day span {
        font-weight: bold;
        color: #344742;
    }

    &__programm-today {
        font-size: 18px;
        color: #ff6868 !important;
    }

    &__programm-complete {
        font-size: 12px;
        color: lightgray !important;
    }

    @media (min-width: 768px) {
       &__close {
        left: calc(50% - 270px);
       }

       &__wrapper {
        max-width: 600px !important;
       }

       &__pause-timer {
        width: 60px;
        height: 60px;
        right: 50%;
        transform: translateX(50%);
    }
    }
}

#workout-pause::after,
#workout-calories::after,
#workout-time::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 15px;
    font-weight: 400;
    transform: translateX(-50%);
}

#workout-time::after {
    content: 'минут';
}

#workout-calories::after {
    content: 'калорий';
}

#workout-pause::after {
    content: 'секунд';
}

#workout-pause::before,
#workout-calories::before,
#workout-time::before {
    content: ' ';
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: - 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#workout-time::before {
    background-image: url('../img/svgicons/time.svg');
}

#workout-calories::before {
    background-image: url('../img/svgicons/calories.svg');
}

#workout-pause::before {
    background-image: url('../img/svgicons/pause.svg');
}