@import "reset";
@import "fonts";
@import "header";
@import "footer";
@import "program";
@import "calendar";
@import "education";
@import "exercises";
@import "settings";
@import "modal";

body {
    font-family: 'Andika';
}

.wrapper {
    max-width: 390px;
    margin: 0 auto;
    padding: 0 20px;
}

.active-page {
    display: block;
}

@media (min-width: 768px) {
    .wrapper{
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .wrapper{
        max-width: 1024px;
    }
}

